body {
	margin: 0px;
	padding: 0px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.cd-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
}

.view3d {
	width:100%;
	height:100%;
	position: absolute;
	background: rgba(110,110,110,0.72);
	z-index: -1;
}

.debug {
	position: absolute;
    top: 0;
    right: 0;
    color: white;
	pointer-events: none;
	border: 3px solid white;
	margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.debug > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}