body {
	margin: 0px;
	padding: 0px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.cd-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
}

.cd-wrapper > iframe {
    width: 100%;
    height: 100%;
    border: none;
}